<% include partials/header %>

<section class="container birds-section">
  <header class="jumbotron">
      <div class="container">
        <h1>Welcome to Birdville</h1>
        <p>A Place for All things Bird</p>
        <p>
          <a class="btn btn-primary btn-large" href="/birds/new">Add New Bird</a>
        </p>
      </div>
  </header>

  <div class="row img-container">
    <% birds.forEach(function(bird) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img class="img-responsive" style="min-height:270px" src=<%= bird.prevImage %> />
          <div class="caption" style="min-height:270px">
              <h3> <%= bird.englishName %> </h3>
              <h5> (<%= bird.scientificName %>) </h5>
              <p> <%= bird.description %> </p>
              <span class="timeLeft-container" style="display:none">Time Left:<span class="timeLeft"> 00:00</span> </span>
              <i class="fa fa-play" aria-hidden="true"></i>
              <audio src=<%= bird.audio %>></audio>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  <a href="/">Home</a>
</section>

<% include partials/footer %>
