<% include partials/header %>

<section class="container birds-section">
  <header class="jumbotron">
      <div class="container">
        <h1>Welcome to Birdville</h1>
        <p>A Place for All things Bird</p>
        <p>
          <a class="btn btn-large" href="/birds/new" style="font-weight:700">Add New Bird &nbsp;<i class="fa fa-plus"></i></a>
        </p>
      </div>
  </header>
  <div class="row thumbnail-container">
    <% birds.forEach(function(bird) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="img-container">
            <img class="img-responsive" src=<%= bird.prevImage %> />
          </div>
          <div class="img-overlay">
            <i class="fa fa-arrow-right"></i>
          </div>
          <div class="caption" style="min-height:270px">
              <h3> <%= bird.englishName %> </h3>
              <h5> (<%= bird.scientificName %>) </h5>
              <p> <%= bird.description %> </p>
              <span class="timeLeft-container" style="display:none">Time Left:<span class="timeLeft"> 00:00</span> </span>
              <i class="fa fa-play" aria-hidden="true"></i>
              <audio src=<%= bird.audio %>></audio>
          </div>
          <a class="birdLink" href=<%= "/birds/" + bird.id %>></a>
        </div>
      </div>
    <% }) %>
  </div>
  <a class="lnk" href="/"><i style="font-size: 19px; width: 30px" class="fa fa-arrow-left"></i> Home</a>
</section>

<% include partials/footer %>
